services:
  prefect-server:
    image: prefecthq/prefect:3-python3.10
    command: ["prefect", "server", "start", "--host", "0.0.0.0", "--port", "4200"]
    ports:
      - "4200:4200"
    depends_on:
      - db
    environment:
      PREFECT_SERVER_API_HOST: 0.0.0.0

  tasks:
    image: prefecthq/prefect:3-python3.10
    environment:
      PREFECT_API_URL: http://prefect-server:4200/api
    volumes:
      - ./tasks:/tasks
    command: ["prefect", "worker", "start", "--pool", "default-agent-pool" ]
    depends_on:
      prefect-server:
        condition: service_started

  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data:
